In [1]:
print('Hello world')  # single quote

Hello world

In [2]:
printf("Hello world")

NameError: name 'printf' is not defined

In [3]:
print("Hello World")

Hello World

In [4]:
# # include <stdio.h>

# int main(){
#     printf('Hello world')

#     return 0
# }

In [5]:
print("Hello world")

Hello world

In [6]:
# Shift+Enterkey

In [7]:
Print("Hello world")

NameError: name 'Print' is not defined

In [8]:
print("Hello world")

Hello world

In [9]:
print(100)   # 100

100

In [10]:
print("Hello world")

Hello world

In [11]:
print('apple')

apple

In [12]:
# single quote or double quotes.

In [18]:
# cout 

# String : Single Quotes or Double Quotes

print('Hello world')
print("Hello world")
print("100")
print('10.25')

# Number Integer| float| 

# Integer
print(100)  # Integer value
print(1000)
print(123)

# Float
print(100.0)
print(100.23)
print(789.25)


# Boolean

print(True)  # T always in capital letters and others are in small.
print(False)

Hello world
Hello world
100
10.25
100
1000
123
100.0
100.23
789.25
True
False

In [20]:
print('100')  # string

print(100)  # integer

100
100

In [22]:
"100+100"

'100+100'

In [23]:
100+100

200

In [39]:
# type() function

# String : Single Quotes or Double Quotes

print('Hello world')
print(type('Hello world'))
print("Hello world")
print(type("Hello world"))
print("100")
print(type("100"))
print('10.25')
print(type('10.25'))

# Number Integer| float| 

# Integer
print(100)  # Integer value
print(type(100))
print(1000)
print(type(1000))
print(123)
print(type(123))

# Float
print(100.0)
print(type(100.0))
print(100.23)
print(type(100.23))
print(789.25)
print(type(789.25))


# Boolean

print(True)  # T always in capital letters and others are in small.
print(type(True))
print(False)
print(type(False))

Hello world
<class 'str'>
Hello world
<class 'str'>
100
<class 'str'>
10.25
<class 'str'>
100
<class 'int'>
1000
<class 'int'>
123
<class 'int'>
100.0
<class 'float'>
100.23
<class 'float'>
789.25
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [43]:
print(True)
print(int(True))


print(False)
print(int(False))

True
1
False
0

In [45]:
# varibale 

x = 5  # X is a varibale 5 is a primitive data type : x is stored in the RAM:
print(x)
print(id(x))

5
140709666780200

In [ ]:
var x; #Varibel declaration
x = 5  # VAriable initialization

In [47]:
x1 = 10+5  #: x1 is a varibale and 10+5 is a expression
print(x1)
print(id(x1))

15
140709666780520

In [49]:
x = 10
print(x)
print(id(x))

10
140709666780360

In [50]:
print(x)

10

In [51]:
x = "Hello world"
print(x)

Hello world

In [52]:
x

'Hello world'

In [53]:
x

'Hello world'

In [1]:
import os

In [2]:
import sys

In [3]:
print(sys.version)

3.13.7 (tags/v3.13.7:bcee1c3, Aug 14 2025, 14:15:11) [MSC v.1944 64 bit (AMD64)]

# Data typecasting

In [9]:
num = 10   
print(num,type(num))

# string, float

# single quotes or double, 

str1 = str(num)
print(str1,type(str1))

# float 

float1 = float(num)
print(float1, type(float1))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>

In [12]:
num1 = 100.55  
print(num1, type(num1))

# string, integer  

str1 = str(num1)
print(str1, type(str1))

# integer
int1 = int(num1)  # 100
print(int1, type(int1))

100.55 <class 'float'>
100.55 <class 'str'>
100 <class 'int'>

In [18]:
bool1 = True   # integer, string, float
int2 = int(bool1)
print(int2, type(int2))

str2 = str(bool1)
print(str2, type(str2))

float1 = float(bool1)
print(float1, type(float1))


bool2 = False # integer, string, float

int3 = int(bool2)
print(int3, type(int3))


str3 = str(bool2)
print(str3, type(str3))

float3 = float(bool2)
print(float3, type(float3))

1 <class 'int'>
True <class 'str'>
1.0 <class 'float'>
0 <class 'int'>
False <class 'str'>
0.0 <class 'float'>

In [20]:
# Operators 

print(9/3)   # division

print(9//3)  # floor division

3.0
3

In [21]:
# Express and Variable

x = 56+96+78-45*2/4
print(x)

207.5

In [23]:
# substraction

x = 45
y = 70
print(x-y)

-25

In [24]:
# Multiplation (*)

x = 45
y = 70
print(x*y)

3150

In [25]:
# division - [/] [//]

x = 45
y = 70
print(x/y)
print(x//y)

0.6428571428571429
0

In [27]:
# Modulus: It returns remainder of the value
x = 45
y = 70

print(y%x)

25

In [28]:
# Exponenent (bares)^power

x = 45
y = 70

print(x**y)

53073284378983081100680158427125588348600982288180187454105335965020350343958333017013728749589063227176666259765625

In [29]:
# 45x45x45x45x....................................70

In [31]:
x = 2
y = 2

print(x%y)

0