# 15. Lambda functions in Python 
 * __A Lambda functions is a small anonymous functions.__
 * __A Lambda function can take any number of argumetns, but only have one expression.__
 * __The expression is evaluated and returns.__
 * __Lambda expression(or lambda function) essentially blocks of code that can be assigned to variable, passed as an arguments, or returned from a function call, In Language that support high-order functions.__
 * __The main role of lambda function is better described in the scenerios when we employ them anonymously inside another functions.__
 * __In Python, the lambda function can be utilized as an arguments to the higher-order functions as an arguments.__
 * __Lambda function in Python.__
   * __Syntax:__
    * __Normal Function__
    * __Anonymous Function__
      * __Usages__
        * __Lambda with filter()__
        * __lambda with map()__
        * __Lambda with reduce()__
        * __Lambda with apply()__
      * __commonErrors__
        * __SyntaxError__
        * __TypeError__

In [1]:
def addTwo(x,y):
    return x+y
addTwo(1,2)

3

In [2]:
addTwo(10,78)

88

In [3]:
(lambda a,b:a+b)(1,2)  # anonymous function

3

In [4]:
addTwo(10,-50)

-40

In [5]:
x = input("Enter any value")
y = x+10
print(y)

Enter any value 10

TypeError: can only concatenate str (not "int") to str

In [6]:
def func1(x):
    return x+20
a=int(input("Enter any value: "))
func1(a)

Enter any value:  50

70

In [8]:
a=int(input("Enter any value: "))
(lambda y:y+20)(a)

Enter any value:  45

65

In [11]:
# find the sqr of the value 4,5,6

def sqrValue(x):
    return x**2
a=int(input("Enter any value: "))
sqrValue(a)

Enter any value:  6

36

In [14]:
y=int(input("Enter any value: "))

(lambda a:a**2)(y)

Enter any value:  6

36

In [17]:
# find the sum of two number using lambda 

x1 = int(input("Enter any value: "))
y1 = int(input("Enter any value: "))
(lambda x,y: x+y)(x1,y1)

Enter any value:  10
Enter any value:  20

30

In [19]:
x1 = int(input("Enter any value: "))
y1 = int(input("Enter any value: "))
(lambda x,y: x+y)(x1,y1)

Enter any value:  15
Enter any value:  36

51

In [21]:
arrayList = [1,2,3,4,5,6,7,8,9,10]

evenList=[] # 2,4,6,8,10
oddList = [] #1,3,5,7

for i in arrayList:
    # print(i)
    if i%2==0:
        evenList.append(i)
    else:
        oddList.append(i)
print("Even",evenList)
print("Odd",oddList)

Even [2, 4, 6, 8, 10]
Odd [1, 3, 5, 7, 9]

In [22]:
# normal function 
# syntax
# filter(func,seqnece)
# anonymous function 
# filter(lambda expression)

In [23]:
arrayList = [1,2,3,4,5,6,7,8,9,10]


def evenNum(x):
    return x%2==0
def oddNum(x):
    return x%2!=0

In [25]:
list(filter(evenNum,arrayList))

[2, 4, 6, 8, 10]

In [26]:
list(filter(oddNum,arrayList))

[1, 3, 5, 7, 9]

In [29]:
# anonymous function 

list(filter(lambda a:a%2==0,arrayList))

[2, 4, 6, 8, 10]

In [30]:
list(filter(lambda a:a%2!=0,arrayList))

[1, 3, 5, 7, 9]

In [3]:
# lambda with map()

arrayList = [1,2,3,4,5,6,7,8,9,10]

sqrList = []
for i in arrayList:
    sqrValue = i**2
    sqrList.append(sqrValue)
    
    # print(i)
print(sqrList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
def sqrValue(x):
    return x**2

In [6]:
# map(function, sequence)

list(map(sqrValue,arrayList))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
tuple(map(lambda a:a**2,arrayList))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [9]:
# Lambda with reduce()
sum(arrayList)

55

In [10]:
from functools import reduce
arrayList = [1,2,3,4,5,6,7,8,9,10]

In [11]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial], /) -> value

    Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

    This effectively reduces the iterable to a single value.  If initial is present,
    it is placed before the items of the iterable in the calculation, and serves as
    a default when the iterable is empty.

    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
    calculates ((((1 + 2) + 3) + 4) + 5).

In [16]:
def redNum(x,y):
    return x+y

In [17]:
# reduce(func,sequence)

reduce(redNum, arrayList)

55

In [18]:
arrayList = [1,2,3,4,5,6,7,8,9,10]


def multNum(a,b):
    return a*b

In [19]:
reduce(multNum,arrayList)

3628800

In [20]:
reduce(lambda a,b:a+b, arrayList)

55

In [21]:
reduce(lambda a,b:a*b, arrayList)

3628800

In [23]:
# Lambda with apply()


x = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
print(x,type(x))

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]] <class 'list'>

In [25]:
import pandas as pd

In [34]:
df = pd.DataFrame(x)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [27]:
df[3]

0     4
1     8
2    12
Name: 3, dtype: int64

In [31]:
df=df[3][2]+5
df

np.int64(17)

In [32]:
df

np.int64(17)

In [35]:
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [37]:
df1 = df.apply(lambda y:y+5)
df1

    0   1   2   3
0   6   7   8   9
1  10  11  12  13
2  14  15  16  17

In [38]:
df2 = df.apply(lambda a:a*2)
df2

    0   1   2   3
0   2   4   6   8
1  10  12  14  16
2  18  20  22  24

In [39]:
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12