# 3. Lists in Python

 * __Lists are ordered.__
 * __Lists can contains any arbitrary objects.__
 * __Lists elemnets can be accessed by index.__
 * __Lists can be nested to arbitrary depth.__
 * __Lists are mutable.__
 * __Lists are dynamic.__

In [1]:
# how to creat empty list

x = []  # square bracket
print(x,type(x))

[] <class 'list'>

In [2]:
y = ""
print(y,type(y))

 <class 'str'>

In [4]:
nlis = ['python',25,2002]
print(nlis)
print(type(nlis))

['python', 25, 2002]
<class 'list'>

In [11]:
# List value can be accessed by index value with positive and negative index value.
# positive index value
print(nlis[0])
print(nlis[1])
print(nlis[2])
# print(nlis[3])  out of range

python
25
2002

In [14]:
# Negative Index value

print(nlis[-1])
print(nlis[-2])
print(nlis[-3])

2002
25
python

|What can content a list?|
|-------|
|strings|
|Floats|
|Integer|
|Boolean|
|Nested List|
|Nested Tuples|
|Any Data Structures|

In [15]:
nlis = ['Python',3.14,2002, True, False, ['hello world',10,20],(55,100,'Hello Python')]
print(nlis)

['Python', 3.14, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [29]:
print(nlis[0])
print(type(nlis[0]))

print(nlis[1])
print(type(nlis[1]))

print(nlis[2])
print(type(nlis[2]))

print(nlis[3])
print(type(nlis[3]))

print(nlis[4])
print(type(nlis[4]))

print(nlis[5])
print(type(nlis[5]))

print(nlis[6])
print(type(nlis[6]))

Python
<class 'str'>
3.14
<class 'float'>
2002
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>
['hello world', 10, 20]
<class 'list'>
(55, 100, 'Hello Python')
<class 'tuple'>

In [30]:
# List Operations : list is mutable (mutable means: you can change, update, deleted, and remove after created the list.)

# len(): lenght is used to return total number of element inside the list. # It is a pre-defined keyword

len(nlis)

7

In [32]:
# Slicing of list.

print(nlis)

['Python', 3.14, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [33]:
# use slicing 

nlis[3:5]  # n-1

[True, False]

In [36]:
# striding value: skip value

nlis[::2]

['Python', 2002, False, (55, 100, 'Hello Python')]

In [37]:
# Operations in List 

# 1) Extending the list:
# We use the extend() funciton to add a new element to the list.
# With this function, we add more than one element to the list.


list1 = []

In [38]:
list1.extend(['apple',"banana"]) # at a time you can take multiple items to put in the list.

In [39]:
list1

['apple', 'banana']

In [40]:
# append() method
# As a different from the extend() mehtod, with the append() method, we add only one element to the list.
# You can see the difference by comparing the above and below the codes.


list1.append('carrot')

In [41]:
list1

['apple', 'banana', 'carrot']

In [42]:
list1.append(['date','muskmelon'])

In [43]:
list1

['apple', 'banana', 'carrot', ['date', 'muskmelon']]

In [44]:
# insert()
# It takes two items at a time. first one is the position of elemnet and second is the value.

list1

['apple', 'banana', 'carrot', ['date', 'muskmelon']]

In [45]:
list1.insert(0,"Sanket")
list1

['Sanket', 'apple', 'banana', 'carrot', ['date', 'muskmelon']]

In [51]:
#count(), index(), max(), min(), sum() function 

lis = [1,2,3,4,5,6,7]  # numeric value  # 28

print(len(lis))

print(lis.count(4))  # How many 4 are on the list 'lis'?
print(lis.index(2)) # What is the index of the number 2 in the list 'lis'?
print(max(lis))  # What is the maximum number in the list 'lis'?
print(min(lis))  # What is the minimum number in the list 'lis'?
print(sum(lis))  # what is the sum of th enumbers in the lsit?

7
1
1
7
1
28

In [57]:
# changing the element of a list since it is mutbale 

nlis = ['Python',3.14,2002, True, False, ['hello world',10,20],(55,100,'Hello Python')]

print('Before Changing:',nlis)
nlis[0] = 'hello Python'  # It supports mutable element
print("After Changing:",nlis)  

nlis[1] = 1.618   # It supports mutable element.
print("After Changing:",nlis)

Before Changing: ['Python', 3.14, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]
After Changing: ['hello Python', 3.14, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]
After Changing: ['hello Python', 1.618, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [59]:
# Deleting the element from the list using del() function

print("Before Changing:",nlis)
del(nlis[0])

Before Changing: ['hello Python', 1.618, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [60]:
print("After Changing:",nlis)

After Changing: [1.618, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [63]:
# Converstion of a string into a list using split() function

message = "Python is a programming language."
print("String Value", message)

message.split()

String Value Python is a programming language.

['Python', 'is', 'a', 'programming', 'language.']

In [64]:
# Use of split() function with delimiter
text = 'p,y,t,h,o,n'

text.split(',')

['p', 'y', 't', 'h', 'o', 'n']

In [65]:
# Copy the list  

nlis = ['Python',3.14,2002, True, False, ['hello world',10,20],(55,100,'Hello Python')]
print(nlis)

['Python', 3.14, 2002, True, False, ['hello world', 10, 20], (55, 100, 'Hello Python')]

In [66]:
# Deep copy and shallow copy

# Deep Copy: A deep copy creates a completely independent copy, including all inner objects.
# means: Outer and inner lists are all new objects in memoroy

import copy

In [71]:
list1 = [[1,2],[3,4]]
print("List 1:",list1)

list2 = copy.deepcopy(list1)
print("List 2",list2)

List 1: [[1, 2], [3, 4]]
List 2 [[1, 2], [3, 4]]

In [75]:
list2[0][0] = 99

print("List1:",list1)
print("List2:",list2)

List1: [[1, 2], [3, 4]]
List2: [[99, 2], [3, 4]]

In [78]:
# how to check address of the variable
print(id(list1))
print(id(list2))

2734442389952
2734442396992

In [82]:
# Shallow copy()
# A shallow copy creates a new object, but doesn't copy the inner(nested) objects- it only copies their references.
# means 
# outer list = new 
# Innter lists = same object in the memory 


list1 = [[1,2],[3,4]]

list2 = copy.copy(list1)

list2[0][0]=99

print(list1)
print(list2)

[[99, 2], [3, 4]]
[[99, 2], [3, 4]]

In [89]:
# As different from the list, I also find significant the following information.
# input() function 
# It provides a user fo a program supply input to the program at runtime.


text = input("Enter a string: ")  # bydefault it takes string data type.
print('The text is:',text)
print(type(text))

Enter a string:  True

The text is: True
<class 'str'>

In [98]:
num = int(input("Enter any value: "))
print('Your Integer value is:',num)

Enter any value:  123

Your Integer value is: 123

In [96]:
ch = input("Enter any character: ")  # A - 65 , a=97

ascii_value = ord(ch)
print("The ASCII value is:", ch, 'is', ascii_value)

Enter any character:  a

The ASCII value is: a is 97

In [105]:
# eval() function 
# This function servers the aim of converting a string to an integer or a float value.

expression = "8+7"  # it is string value
print("String value is:", expression, type(expression))

total = eval(expression)  # even change their data type: string to integer
print("Sum of the expression is:",total)
print(type(total))

String value is: 8+7 <class 'str'>
Sum of the expression is: 15
<class 'int'>

In [103]:
8+7

15

In [107]:
# format() function 
# This function helps to format the output printed on the screen with good look and attractive.

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

total = a+b
print("Sum of the value",total)  # it only display the total

print("Sum of {} and {} value is {}".format(a,b,total))  # it display the total with their addition variable.

Enter first number:  15
Enter second number:  25

Sum of the value 40.0
Sum of 15.0 and 25.0 value is 40.0

In [108]:
# Operators in Python

# Arithematic Operator: +,-,*,/,//,%,**, ++, -=, *=,/=,
    # >> Uniary operator: ++, --
            # >> preIncrement: ++i
            # >> PostIncrement: i++
            # >> preDecrement: --i
            # >> postDecrement: i--
    # >> Binary operator: +,-,*,/,//,**,%,
# Logical Operator: Basic Gates: [AND, OR, NOT], Universal Gates [NAND, NOR]

# Relational Operator/ Comparison Operator: [<,>,<=,>=,==,!=]

# Assignemnt Operator: [=]  # equals

# Identity Operator: is or is not

# Membership Operator: in or not in

In [109]:

# shallow copy

list1 = ['sanket',"Python",200]

list2 = list1

print(list1)
print(list2)

['sanket', 'Python', 200]
['sanket', 'Python', 200]

In [111]:
list1[0] = "Sanket Hude"
print(list1)

['Sanket Hude', 'Python', 200]

In [112]:
list2

['Sanket Hude', 'Python', 200]

In [113]:
# deep copy()


list1 = ['sanket',"Python",200]

list2 = list1.copy()

print(list1)
print(list2)

['sanket', 'Python', 200]
['sanket', 'Python', 200]

In [115]:
list2[0] = "Sanket Hude"
print(list2)

['Sanket Hude', 'Python', 200]

In [116]:
list1

['sanket', 'Python', 200]

In [ ]:
# Tuple

# set 

# dictionary


# condition: coding part