# 4. Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are ordered collections of items.__
 * __Created using parentheses() or tuple() constructuor.__
 * __Can contains heterogeneous data types (eg:- int, str, float).__
 * __Allow duplicate elements.__
 * __Support indexing and slicing like lists.__
 * __Can be nested inside other tuples or lists.__
 * __Used as dictionary keys if elements are immutable.__
 * __Support packing and unpacking of varibales.__
 * __Single-elements tuple needs a trailing comman (5,).__
 * __Have built-in methods like count() and index().__
 * __Similar to string indices, the first value in the tuple will have the index [0], the second value [1]__
 * __Negative indices are counted from the end of the tuple, just like lits.__
 * __Tuples are the same structure where commas separate the values.__

In [3]:
x,y = 'Hello','World'
print(x)
print(y)

Hello
World

In [4]:
x,y = ('Hello',"apple")  # unpacking
print(x)
print(y)

Hello
apple

In [5]:
x1 = ('Hello',"apple")  # packing
print(x1)

('Hello', 'apple')

In [6]:
x = ()
print(x,type(x))

() <class 'tuple'>

In [8]:
x1 = tuple()
print(x1,type(x1))

() <class 'tuple'>

In [9]:
x = (1)  # 1-datatype-int
print(x,type(x))

1 <class 'int'>

In [10]:
# 1). Primitive Data types:
#     1). Integer, Characters, Complex Value
# 2). Non-primitive
# # ------------------------
# 1). Linear and Non-Linear
# # ----------------------------
# 1). Linear 
# 1). Static and Dynamic
# 1). static ---> Array - Lists
# 2). Dynamic
#     Linked list
#     stack
#     Queue

# # Non-linear
# # Tree, Heap and Graph

In [1]:
Numbers:- Integer, float,

Sets


dictionary

None

Boolean

# Sequence
(1.String) - ""
(2.Lists) - []
(3.Tuples)- ()

SyntaxError: invalid decimal literal (1363826241.py, line 13)

In [10]:
a = [2,2,2,2,2,20,]
b = ('Hello World',10,3.16, True, False,False, False, False)
# "", ''  string data type

print("What's your name")
print(b)

What's your name
('Hello World', 10, 3.16, True, False, False, False, False)

In [8]:
"2+2"

'2+2'

In [7]:
2+2

4

In [12]:
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [14]:
tuple2 = tuple()  # inbuld data type
print(tuple2)
print(type(tuple2))

()
<class 'tuple'>

In [16]:
x = (5)  # You can not create single elemnet as a tuple
print(x,type(x))

5 <class 'int'>

In [17]:
x = (5,)  # You can not create single elemnet as a tuple
print(x,type(x))

(5,) <class 'tuple'>

In [20]:
x = ("Hello world",)  # You can not create single elemnet as a tuple
print(x,type(x))

('Hello world',) <class 'tuple'>

In [22]:
# tuple is a heterogeneous data type.

x1 = ('Hello world',10,20,30,3.147,True,False)
print(x1,type(x1))

('Hello world', 10, 20, 30, 3.147, True, False) <class 'tuple'>

In [31]:
# Positive Index, and Negative Value

print(x1[0])
print(x1[1])
print(x1[2])
print(x1[3])
print(x1[4])
print(x1[5])
print(x1[6])
print(x1[7])

Hello world
10
20
30
3.147
True
False

IndexError: tuple index out of range

In [33]:
print(x1)

('Hello world', 10, 20, 30, 3.147, True, False)

In [42]:
# Negative Value -1
print(x1[-1])
print(x1[-2])
print(x1[-3])
print(x1[-4])
print(x1[-5])
print(x1[-6])
print(x1[-7])
# print(x1[-8])

False
True
3.147
30
20
10
Hello world

In [48]:
print(x1)

('Hello world', 10, 20, 30, 3.147, True, False)

In [50]:
# slicing 
# variable[:]  # starts:ends
x1[5:7]

(True, False)

In [53]:
x2 = x1[6:7]
x2

(False,)

In [54]:
x3 = x1[5:6]
print(x3)

(True,)

In [55]:
x2+x3

(False, True)

In [56]:
x = 100
print(x)

100

In [61]:
print(x1)

('Hello world', 10, 20, 30, 3.147, True, False)

In [62]:
# skip value: striding

# syntax: variable[::]
x1[0:7:2]  # n-1 = 2-1 =1

('Hello world', 20, 3.147, False)

In [63]:
x1[0:7:3]

('Hello world', 30, False)

In [64]:
x1[0:7:4]

('Hello world', 3.147)

In [65]:
x1 = ('Hello world',10,20,30,3.147,True,False)
print(x1,type(x1))

('Hello world', 10, 20, 30, 3.147, True, False) <class 'tuple'>

In [69]:
x1[1::7]  # n-1 = 7-1 = 6

(10,)

In [70]:
# Repetation of tuple

rep_tup = (1,2,3,4)

rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [71]:
2*2

4

In [72]:
"hello world"*2

'hello worldhello world'

In [74]:
# sum(), max(), min(), count(), index()
# aggrigate function: numerical

x = "hello world"

max(x)

'w'

In [75]:
ord('w')

119

In [83]:
tuple1 = (10,120,-55,44,44,88,-55,-55)
print('Sum of the tuple is:', sum(tuple1))
print("Maximum value is:", max(tuple1))
print('Minimum value is:',min(tuple1))
print("Count of the value:",tuple1.count(-55))
print("Index value of 120:", tuple1.index(120))

Sum of the tuple is: 141
Maximum value is: 120
Minimum value is: -55
Count of the value: 3
Index value of 120: 1

In [84]:
tuple1

(10, 120, -55, 44, 44, 88, -55, -55)

In [86]:
# change the value of 10

tuple1[0] = 100
tuple1

TypeError: 'tuple' object does not support item assignment

In [87]:
# append(), extend(), insert()

tuple1.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
tuple1

(10, 120, -55, 44, 44, 88, -55, -55)

In [89]:
del(tuple1[-1])

TypeError: 'tuple' object doesn't support item deletion

In [90]:
del(tuple1)

In [91]:
tuple1

NameError: name 'tuple1' is not defined

In [92]:
# tup(seq) function 

# name
# fathers name
# dob
# addres
# mother's name
# addhar: retine, finterprint : (ID No.-Tuple)

In [93]:
seq = "apple"

tuple(seq)

('a', 'p', 'p', 'l', 'e')

In [94]:
# sorting: Ascending or descending order

tuple_3 = (10,22,55,88,99,-55,-10,-15)

# sorted()

sorted_tuple = sorted(tuple_3)
print(sorted_tuple)  # ascending order.

[-55, -15, -10, 10, 22, 55, 88, 99]

In [98]:
des_tuple = sorted_tuple[::-1]
print(des_tuple)

[99, 88, 55, 22, 10, -10, -15, -55]