## 8. Loops in Python

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as condition is True.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__


### range() function 
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop throught a set of code a specified number of times, we can use the range() function.__ 
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [4]:
# 1-10

# Take a range() function 

print(range(10))
print(range(50))

range(0, 10)
range(0, 50)

In [5]:
range(10,30)

range(10, 30)

In [11]:
years = [2005,2006,2007,2008,2009,2010]

print(years[0])
print(years[1])
print(years[2])
print(years[3])
print(years[4])
print(years[5])

2005
2006
2007
2008
2009
2010

In [12]:
years = [2005,2006,2007,2008,2009,2010]
for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [13]:
years = [2005,2006,2007,2008,2009,2010] # len(years): 6

for i in range(years):  # we can't be pass any variable directly in the range() function 0
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [15]:
years = [2005,2006,2007,2008,2009,2010] # len(years): 6 : 0-5 = 6

for i in range(len(years)):  # we can't be pass any variable directly in the range() function 0
    print(i, years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [16]:
years[i] # 2005
# years[1] = 2006

2010

In [18]:
languages = ['Java',"Python","C","C++","Kotlin","Android","JavaScript","R","Machine Learning"]

for i in languages:
    print(i)

Java
Python
C
C++
Kotlin
Android
JavaScript
R
Machine Learning

In [20]:
# with range() function

for k in range(len(languages)):
    print(k, languages[k])

0 Java
1 Python
2 C
3 C++
4 Kotlin
5 Android
6 JavaScript
7 R
8 Machine Learning

In [22]:
# Enumaeration of the elements in the list

languages = ['Java',"Python","C","C++","Kotlin","Android","JavaScript","R","Machine Learning"]

for index,values in enumerate(languages):
    print(index,values)

0 Java
1 Python
2 C
3 C++
4 Kotlin
5 Android
6 JavaScript
7 R
8 Machine Learning

In [24]:
# 1-10

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(20,31):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [26]:
for x in range(10,1):  # this code can't execute because logic is not correct.
    print(x)

In [29]:
for i in range(10,-1,-1):  # (starts, ends, negative)
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [32]:
# wap to find the sum of 1 to 10

sum1 = 0  # empty variable  # global variable : 1,3, 6,10, 15,21,28, 36,45  
for i in range(1,11):
    sum1 = sum1 + i  # 0+1, 1+2 = 3, 3+3 = 6, 6+4=10, 10+5=15, 15+6=21, 21+7 = 28, 28+8 = 36, 36+9 = 45, 45+10 = 55
    # print(i)
    print(sum1)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# 10-30

In [35]:
# range()
sum1 = 0
for i in range(10,31):
    sum1 = sum1+i
    # print(i)
print(sum1)

420

In [ ]:
# len(), enumerates()

list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [39]:
list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sum1 = 0

for index,values in enumerate(list1):
    sum1 = sum1 + values
print(sum1)

420

In [40]:
list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sum1 = 0

for i in range(len(list1)):
    sum1 = sum1 + (list1[i])
print(sum1)

420

In [1]:
# 1-10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# sum of range 1,10
sum1 = 0
for i in range(1,11):
    sum1 = sum1+i
    # print(i)
print(sum1)

55

In [7]:
# break and continue in for loop

# output = 5
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [10]:
# continue 

for i in range(1,11):
    if i == 6:  # skip
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [11]:
for i in range(1,11):
    print(i)
    if i == 6:  # skip
        continue

1
2
3
4
5
6
7
8
9
10

In [12]:
# range()  it increaments the value by default +1
# -------------------------------------------------------------

# while (condition):
#     statement True
#     statement True
# else:
#     print('After True block it will be executed')

In [13]:
# 1-10 

i = 1
j = 11

while (i<j):  # entry controlled loop
    print(i) # 1 2 3 4 5 6 7 8 9 10
    i+=1 # i=2, i=3, i=4 i=5 i=6 i = 7, i = 8, i = 9, i=10, i=11

1
2
3
4
5
6
7
8
9
10

In [14]:
# 1 - 10 using while loop 

i = 1
j = 11
sum1= 0

while (i<j):
    sum1 = sum1 + i
    
    i+=1
print(sum1)

55

In [17]:
# break and continue

# 1-10
# output =5
i=1
j = 10

while i<j:
    
    if i == 6:
        break
    print(i)
    i+=1

1
2
3
4
5

In [19]:
i=1
j = 10

while i<j:
    print(i)
    if i == 5:
        break
    
    i+=1

1
2
3
4
5

In [21]:
# continue

# 1-10  # 1-5,7-10

i = 1
j = 10

while i<j: # condition
    print(i) #statement
    i+=1 # increment value
    if i == 5:
        continue

1
2
3
4
5
6
7
8
9

In [23]:
i = 0
j = 10

while i<j: # condition 1<10
    
    i+=1 # increment value , 2
    if i == 5:
        continue
    print(i) #statement

1
2
3
4
6
7
8
9
10

In [24]:
# i = 0
# j = 10

# while i<j: # condition 1<10
#     print(i) #statement
#     if i == 5:  # infinite loop, output- 0,1,2,3,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
#         continue
#     i+=1 # increment value , 2

ERROR! Session/line number was not unique in database. History logging moved to new session 113

In [28]:
# display multiple of 19 table 

# 19x1=19
# 19x2=38
# 19x3=57

num=19

for i in range(1,11):
    print(num,"X",i,"=", num*i)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [29]:

num=19

for i in range(1,11):
    print("%dX%d=%d"%(num,i,num*i))

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [31]:

num=19

for i in range(1,11):
    print(f'{num}X{i}={num*i}')

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [32]:

num=19

for i in range(1,11):
    print('{}X{}={}'.format(num,i,num*i))

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [33]:
# 29


i = 19
j = 1

while (j<11):
    print(f"{i}x{j}={i*j}")
    j+=1

19x1=19
19x2=38
19x3=57
19x4=76
19x5=95
19x6=114
19x7=133
19x8=152
19x9=171
19x10=190

In [38]:
# 1-40 , 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15........................................40
# 1-10


# nested loop 
# outer loop 
# inner loop 

for i in range(1,41):
    print(f"\n~~~~~~~~~~~~Table of {i}~~~~~~~~~~~~~~~~~")
    for j in range(1,11):
        print('{}X{}={}'.format(i,j,i*j))
    # print(i)

~~~~~~~~~~~~Table of 1~~~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

~~~~~~~~~~~~Table of 2~~~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

~~~~~~~~~~~~Table of 3~~~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

~~~~~~~~~~~~Table of 4~~~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

~~~~~~~~~~~~Table of 5~~~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

~~~~~~~~~~~~Table of 6~~~~~~~~~~~~~~~~~
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

~~~~~~~~~~~~Table of 7~~~~~~~~~~~~~~~~~
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

~~~~~~~~~~~~Table of 8~~~~~~~~~~~~~~~~~
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

~~~~~~~~~~~~Table of 9~~~~~~~~~~~~~~~~~
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

~~~~~~~~~~~~Table of 10~~~~~~~~~~~~~~~~~
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

~~~~~~~~~~~~Table of 11~~~~~~~~~~~~~~~~~
11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110

~~~~~~~~~~~~Table of 12~~~~~~~~~~~~~~~~~
12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

~~~~~~~~~~~~Table of 13~~~~~~~~~~~~~~~~~
13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

~~~~~~~~~~~~Table of 14~~~~~~~~~~~~~~~~~
14X1=14
14X2=28
14X3=42
14X4=56
14X5=70
14X6=84
14X7=98
14X8=112
14X9=126
14X10=140

~~~~~~~~~~~~Table of 15~~~~~~~~~~~~~~~~~
15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

~~~~~~~~~~~~Table of 16~~~~~~~~~~~~~~~~~
16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

~~~~~~~~~~~~Table of 17~~~~~~~~~~~~~~~~~
17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170

~~~~~~~~~~~~Table of 18~~~~~~~~~~~~~~~~~
18X1=18
18X2=36
18X3=54
18X4=72
18X5=90
18X6=108
18X7=126
18X8=144
18X9=162
18X10=180

~~~~~~~~~~~~Table of 19~~~~~~~~~~~~~~~~~
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

~~~~~~~~~~~~Table of 20~~~~~~~~~~~~~~~~~
20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

~~~~~~~~~~~~Table of 21~~~~~~~~~~~~~~~~~
21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

~~~~~~~~~~~~Table of 22~~~~~~~~~~~~~~~~~
22X1=22
22X2=44
22X3=66
22X4=88
22X5=110
22X6=132
22X7=154
22X8=176
22X9=198
22X10=220

~~~~~~~~~~~~Table of 23~~~~~~~~~~~~~~~~~
23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230

~~~~~~~~~~~~Table of 24~~~~~~~~~~~~~~~~~
24X1=24
24X2=48
24X3=72
24X4=96
24X5=120
24X6=144
24X7=168
24X8=192
24X9=216
24X10=240

~~~~~~~~~~~~Table of 25~~~~~~~~~~~~~~~~~
25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250

~~~~~~~~~~~~Table of 26~~~~~~~~~~~~~~~~~
26X1=26
26X2=52
26X3=78
26X4=104
26X5=130
26X6=156
26X7=182
26X8=208
26X9=234
26X10=260

~~~~~~~~~~~~Table of 27~~~~~~~~~~~~~~~~~
27X1=27
27X2=54
27X3=81
27X4=108
27X5=135
27X6=162
27X7=189
27X8=216
27X9=243
27X10=270

~~~~~~~~~~~~Table of 28~~~~~~~~~~~~~~~~~
28X1=28
28X2=56
28X3=84
28X4=112
28X5=140
28X6=168
28X7=196
28X8=224
28X9=252
28X10=280

~~~~~~~~~~~~Table of 29~~~~~~~~~~~~~~~~~
29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290

~~~~~~~~~~~~Table of 30~~~~~~~~~~~~~~~~~
30X1=30
30X2=60
30X3=90
30X4=120
30X5=150
30X6=180
30X7=210
30X8=240
30X9=270
30X10=300

~~~~~~~~~~~~Table of 31~~~~~~~~~~~~~~~~~
31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310

~~~~~~~~~~~~Table of 32~~~~~~~~~~~~~~~~~
32X1=32
32X2=64
32X3=96
32X4=128
32X5=160
32X6=192
32X7=224
32X8=256
32X9=288
32X10=320

~~~~~~~~~~~~Table of 33~~~~~~~~~~~~~~~~~
33X1=33
33X2=66
33X3=99
33X4=132
33X5=165
33X6=198
33X7=231
33X8=264
33X9=297
33X10=330

~~~~~~~~~~~~Table of 34~~~~~~~~~~~~~~~~~
34X1=34
34X2=68
34X3=102
34X4=136
34X5=170
34X6=204
34X7=238
34X8=272
34X9=306
34X10=340

~~~~~~~~~~~~Table of 35~~~~~~~~~~~~~~~~~
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

~~~~~~~~~~~~Table of 36~~~~~~~~~~~~~~~~~
36X1=36
36X2=72
36X3=108
36X4=144
36X5=180
36X6=216
36X7=252
36X8=288
36X9=324
36X10=360

~~~~~~~~~~~~Table of 37~~~~~~~~~~~~~~~~~
37X1=37
37X2=74
37X3=111
37X4=148
37X5=185
37X6=222
37X7=259
37X8=296
37X9=333
37X10=370

~~~~~~~~~~~~Table of 38~~~~~~~~~~~~~~~~~
38X1=38
38X2=76
38X3=114
38X4=152
38X5=190
38X6=228
38X7=266
38X8=304
38X9=342
38X10=380

~~~~~~~~~~~~Table of 39~~~~~~~~~~~~~~~~~
39X1=39
39X2=78
39X3=117
39X4=156
39X5=195
39X6=234
39X7=273
39X8=312
39X9=351
39X10=390

~~~~~~~~~~~~Table of 40~~~~~~~~~~~~~~~~~
40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [43]:
i=1
j=41

while i<j:
    # print(i)
    print(f"~~~~~~~~~~~~~~~~Table of {i}~~~~~~~~~~~~~~~")
    k=1
    l=11
    while k<l:
        # print(k)
        print('{}X{}={}'.format(i,k,i*k))
        k+=1
    i+=1

~~~~~~~~~~~~~~~~Table of 1~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10
~~~~~~~~~~~~~~~~Table of 2~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20
~~~~~~~~~~~~~~~~Table of 3~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30
~~~~~~~~~~~~~~~~Table of 4~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40
~~~~~~~~~~~~~~~~Table of 5~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50
~~~~~~~~~~~~~~~~Table of 6~~~~~~~~~~~~~~~
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60
~~~~~~~~~~~~~~~~Table of 7~~~~~~~~~~~~~~~
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70
~~~~~~~~~~~~~~~~Table of 8~~~~~~~~~~~~~~~
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80
~~~~~~~~~~~~~~~~Table of 9~~~~~~~~~~~~~~~
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90
~~~~~~~~~~~~~~~~Table of 10~~~~~~~~~~~~~~~
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100
~~~~~~~~~~~~~~~~Table of 11~~~~~~~~~~~~~~~
11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110
~~~~~~~~~~~~~~~~Table of 12~~~~~~~~~~~~~~~
12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120
~~~~~~~~~~~~~~~~Table of 13~~~~~~~~~~~~~~~
13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130
~~~~~~~~~~~~~~~~Table of 14~~~~~~~~~~~~~~~
14X1=14
14X2=28
14X3=42
14X4=56
14X5=70
14X6=84
14X7=98
14X8=112
14X9=126
14X10=140
~~~~~~~~~~~~~~~~Table of 15~~~~~~~~~~~~~~~
15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150
~~~~~~~~~~~~~~~~Table of 16~~~~~~~~~~~~~~~
16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160
~~~~~~~~~~~~~~~~Table of 17~~~~~~~~~~~~~~~
17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170
~~~~~~~~~~~~~~~~Table of 18~~~~~~~~~~~~~~~
18X1=18
18X2=36
18X3=54
18X4=72
18X5=90
18X6=108
18X7=126
18X8=144
18X9=162
18X10=180
~~~~~~~~~~~~~~~~Table of 19~~~~~~~~~~~~~~~
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190
~~~~~~~~~~~~~~~~Table of 20~~~~~~~~~~~~~~~
20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200
~~~~~~~~~~~~~~~~Table of 21~~~~~~~~~~~~~~~
21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210
~~~~~~~~~~~~~~~~Table of 22~~~~~~~~~~~~~~~
22X1=22
22X2=44
22X3=66
22X4=88
22X5=110
22X6=132
22X7=154
22X8=176
22X9=198
22X10=220
~~~~~~~~~~~~~~~~Table of 23~~~~~~~~~~~~~~~
23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230
~~~~~~~~~~~~~~~~Table of 24~~~~~~~~~~~~~~~
24X1=24
24X2=48
24X3=72
24X4=96
24X5=120
24X6=144
24X7=168
24X8=192
24X9=216
24X10=240
~~~~~~~~~~~~~~~~Table of 25~~~~~~~~~~~~~~~
25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250
~~~~~~~~~~~~~~~~Table of 26~~~~~~~~~~~~~~~
26X1=26
26X2=52
26X3=78
26X4=104
26X5=130
26X6=156
26X7=182
26X8=208
26X9=234
26X10=260
~~~~~~~~~~~~~~~~Table of 27~~~~~~~~~~~~~~~
27X1=27
27X2=54
27X3=81
27X4=108
27X5=135
27X6=162
27X7=189
27X8=216
27X9=243
27X10=270
~~~~~~~~~~~~~~~~Table of 28~~~~~~~~~~~~~~~
28X1=28
28X2=56
28X3=84
28X4=112
28X5=140
28X6=168
28X7=196
28X8=224
28X9=252
28X10=280
~~~~~~~~~~~~~~~~Table of 29~~~~~~~~~~~~~~~
29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290
~~~~~~~~~~~~~~~~Table of 30~~~~~~~~~~~~~~~
30X1=30
30X2=60
30X3=90
30X4=120
30X5=150
30X6=180
30X7=210
30X8=240
30X9=270
30X10=300
~~~~~~~~~~~~~~~~Table of 31~~~~~~~~~~~~~~~
31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310
~~~~~~~~~~~~~~~~Table of 32~~~~~~~~~~~~~~~
32X1=32
32X2=64
32X3=96
32X4=128
32X5=160
32X6=192
32X7=224
32X8=256
32X9=288
32X10=320
~~~~~~~~~~~~~~~~Table of 33~~~~~~~~~~~~~~~
33X1=33
33X2=66
33X3=99
33X4=132
33X5=165
33X6=198
33X7=231
33X8=264
33X9=297
33X10=330
~~~~~~~~~~~~~~~~Table of 34~~~~~~~~~~~~~~~
34X1=34
34X2=68
34X3=102
34X4=136
34X5=170
34X6=204
34X7=238
34X8=272
34X9=306
34X10=340
~~~~~~~~~~~~~~~~Table of 35~~~~~~~~~~~~~~~
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350
~~~~~~~~~~~~~~~~Table of 36~~~~~~~~~~~~~~~
36X1=36
36X2=72
36X3=108
36X4=144
36X5=180
36X6=216
36X7=252
36X8=288
36X9=324
36X10=360
~~~~~~~~~~~~~~~~Table of 37~~~~~~~~~~~~~~~
37X1=37
37X2=74
37X3=111
37X4=148
37X5=185
37X6=222
37X7=259
37X8=296
37X9=333
37X10=370
~~~~~~~~~~~~~~~~Table of 38~~~~~~~~~~~~~~~
38X1=38
38X2=76
38X3=114
38X4=152
38X5=190
38X6=228
38X7=266
38X8=304
38X9=342
38X10=380
~~~~~~~~~~~~~~~~Table of 39~~~~~~~~~~~~~~~
39X1=39
39X2=78
39X3=117
39X4=156
39X5=195
39X6=234
39X7=273
39X8=312
39X9=351
39X10=390
~~~~~~~~~~~~~~~~Table of 40~~~~~~~~~~~~~~~
40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [1]:
#1. Print numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
j = 11

while i<j:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
#2. Print all even numbers between 1 and 100.
for num in range (1,101):
    if num%2==0:
        print(num,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [5]:
i = 1
j = 101

while i<j :
    if i%2==0:
        print(i, end=" ")
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [6]:
#3. Print the table of a given number (e.g., input 5 → 5, 10, 15, … 50).
num = int(input("Enter a number:"))

for i in range(num,(num+1)):
    #num = int(input("Enter a number:"))
    for j in range(1,11):
            print(f"{i}x{j}={i*j}")

Enter a number: 78

78x1=78
78x2=156
78x3=234
78x4=312
78x5=390
78x6=468
78x7=546
78x8=624
78x9=702
78x10=780

In [7]:
i = int(input("Enter the num:"))
j = 1
k = 11

while j<k:
    print(f"{i}x{j}={i*j}")
    j+=1

Enter the num: 78

78x1=78
78x2=156
78x3=234
78x4=312
78x5=390
78x6=468
78x7=546
78x8=624
78x9=702
78x10=780

In [11]:
#4. Calculate the sum of numbers from 1 to n.

n = int(input("Enter any number:"))
sum1=0
for i in range(1,n+1):
    sum1 = sum1 + i
    i+=1
print(sum1)

Enter any number: 10

55

In [13]:
n = int(input("Enter any number:"))
i = 1
j = n+1
sum1=0
while i<j:
    sum1 = sum1 + i
    i+=1
print(sum1)

Enter any number: 10

55

In [17]:
#5. Calculate the factorial of a number using a loop.
num = int(input("Enter the number:"))
for i in range(1,(num)): 
    num*=i
print(f"{num}")

Enter the number: 5

120

In [19]:
num = int(input("Enter the number:"))

i=1
fact = 1
while i<num+1:
    # print(i)
    fact = fact*i
    i+=1
print(f"Factorial of given number {num} is: {fact}")

Enter the number: 5

Factorial of given number 5 is: 120

In [20]:
#6. Print all numbers divisible by 3 and 5 from 1 to 100.
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [24]:
i = 1
j = 100

while i<j+1:
    if i%3==0 and i%5==0:
         print(i)
    i+=1  # increment value

15
30
45
60
75
90

In [29]:
#7. Print the reverse of a given number (e.g., 123 → 321).

num = "41616515"

revNum = "" # 1, 21, 321
for i in num:
    revNum = i + revNum  # 1, 21, 3+21
print(revNum)

51561614

In [37]:
num=input("Enter any value: ")  # 654

i=0

revNum = ""
while i< len(num):
    # print(num[i])
    revNum = num[i] + revNum
    i+=1
print("After Reversed Value is:",revNum)

Enter any value:  159877

After Reversed Value is: 778951

In [44]:
#8. Count digits in a number using a loop.

num = "123548562545845465844889"

count=0
for i in num:
    count = count+1
print("Total Number of value is:",count)

Total Number of value is: 24

In [54]:
# 24. Write a Python program to check if a *username* starts with a letter and not a number.

username = input("enter your name")

# num.isalpha()

if username[0].isalpha():
    print("Username is Valid.",username)
else:
    print("Username is invalid.",username)

enter your name 1apple

Username is invalid. 1apple

In [59]:
# 30. Write a Python program to check whether an input string is, **only spaces, or **contains characters*.

username = input("enter your name")
# print(username)

# isalpha()

if username == " ":
    print("only space defines in username")
elif username.isalpha():
    print("Value contains characters")
else:
    print("Invalid Input")

enter your name al;sjfa

Invalid Input

In [1]:
# isdigit()  # digits
# isalpha()  # only alphabets
# islower() # is value is in lower or not
# isupper() #  is valie is in upper or not
# isalnum() # alphabets and numeric value

# else: special characters.

In [2]:
#7. Print the reverse of a given number (e.g., 123 → 321).
num = input("Enter the number:")

revNum = ""

for i in num:
    revNum = i + revNum
print(revNum)

Enter the number: 10

01

In [3]:
num = input("Enter any value: ")

i=0

revNum = ""
while i< len(num):
    revNum = num[i] + revNum
    i+=1
print("After reversed value is:",revNum)

Enter any value:  10

After reversed value is: 01

In [4]:
#8. Count digits in a number using a loop.
num = input("Enter a number:")

count=0
for i in num:
    count = count+1
print("Total number of value is:",count)

Enter a number: 10

Total number of value is: 2

In [5]:
num = input("Enter a number:")
i = 0
count=0
while i < len(num):
    count = count+1
    i+=1
print("Total number of value is:",count)

Enter a number: 10

Total number of value is: 2

In [7]:
#9. Print all characters of a string using a loop.
data= str(input("Enter the input: "))

for i in data:
    print(i)

Enter the input:  10

1
0

In [8]:
data= str(input("Enter the input: "))
i = 0

while i<len(data):
    print(data[i])
    i+=1

Enter the input:  10

1
0

In [9]:
#10. Print only vowels from a string input by the user.
data = str(input("Enter the input: "))

for i in data:
    if i.lower() in ['a', 'e', 'i', 'o', 'u']:
        print(i)

Enter the input:  hello world

e
o
o

In [10]:
data = str(input("Enter the input: "))
i = 0
while i < len(data):
    if data[i].lower() in ['a', 'e', 'i', 'o', 'u']:
        print(data[i])
    i += 1
#11. Print a countdown from 10 to 1.

Enter the input:  hello world

e
o
o

In [11]:
data = str(input("Enter the input: "))
i = 0
while i < len(data):
    if data[i].lower() in ['a', 'e', 'i', 'o', 'u']:
        print(data[i])
    i += 1

Enter the input:  hell

e

In [14]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [21]:
#12. Take numbers as input until the user enters 0, then print their sum.

# infinite loop: loop execute forever

listNum = []
sum1 = 0
for i in iter(int, 1): # range(1)
    userNum = int(input('Enter any number: '))
    
    if userNum == 0:
        break
    listNum.append(userNum)
    sum1 = sum1 + userNum
print("User Input Number is:",listNum,'=',sum1)

Enter any number:  10
Enter any number:  20
Enter any number:  55
Enter any number:  66
Enter any number:  99
Enter any number:  -100
Enter any number:  20
Enter any number:  -88
Enter any number:  0

User Input Number is: [10, 20, 55, 66, 99, -100, 20, -88] = 82

In [22]:
listNum= []
sum1=0

while True:
    userNum = int(input("Enter any number: "))
    
    if userNum ==0:
        break
    listNum.append(userNum)
    sum1= sum1 + userNum
    
print("User Input Number is:",listNum,'=',sum1)

Enter any number:  410
Enter any number:  20
Enter any number:  0

User Input Number is: [410, 20] = 430

In [26]:
listNum= []
sum1 = 0

while True:
    userNum = int(input('Enter any number: '))
    if userNum == 0:
        break
    listNum.append(userNum)
    sum1 = sum1 + userNum
print("user input Number is:", listNum,"=",sum1)

Enter any number:  10
Enter any number:  20
Enter any number:  30
Enter any number:  0

user input Number is: [10, 20, 30] = 60

In [28]:
#13. Keep asking for a password until the correct one is entered.
stored_password = input("Set your password: ")

for i in iter(int, 1):
    entered_password = input("Re-enter your password to verify: ")

    if entered_password ==stored_password:
        break
print("User password is matched:",entered_password)

Set your password:  125
Re-enter your password to verify:  00
Re-enter your password to verify:  00
Re-enter your password to verify:  123
Re-enter your password to verify:  125

User password is matched: 125

In [29]:
stored_password = input("Set your password: ")

while True:
    entered_password = input("Re-enter your password to verify: ")

    if entered_password ==stored_password:
        break
print("User password is matched:",entered_password)

Set your password:  125
Re-enter your password to verify:  125

User password is matched: 125

In [41]:
#14. Find the sum of digits of a number using a while loop.
num = input("Enter a number:")
sum1 = 0
count=0
for i in num:
    count = count+1
    sum1 = sum1 + count
print(f"Total number of digits are:{count}\n sum of digits: {sum1}")

Enter a number: 10

Total number of digits are:2
 sum of digits: 3

In [42]:
num = input("Enter a number: ")

sum1 = 0
count = 0

i=0
while i<len(num):
    count = count+1   # 1 2 = 3
    sum1 = sum1 + count
    i += 1 
print(f"Total number of digits are:{count}\n sum of digits: {sum1}")

Enter a number:  10

Total number of digits are:2
 sum of digits: 3

In [31]:
num = input("Enter a number:")
i = 0
count=0
sum1=0
while i < len(num):
    count = count+1
    sum1 = sum1 + count
    i+=1
print(f"Total number of digits are:{count}\n sum of digits: {sum1}")

Enter a number: 456

Total number of digits are:3
 sum of digits: 6

In [47]:
# 16. Print this pattern:


# *
# **
# ***
# ****


for i in range(1,5):
    print("*"*i)

*
**
***
****

In [45]:
"sanket"*5

'sanketsanketsanketsanketsanket'

In [1]:
#15. Reverse a string using a while loop.
str1 = input("Enter any string: ")

i = 0
revString = ""
while i < len(str1):
    revString = str1[i] + revString
    i += 1
print("After reversed string is:", revString)

Enter any string:  123

After reversed string is: 321

In [2]:
str1 = input("Enter any string: ")

revString = ""

for i in str1:
    revString = i + revString
print("After reversed string is:", revString)

Enter any string:  125

After reversed string is: 521

In [4]:

#16. Print this pattern:
#    *
#    **
#    ***
#    ****
for i in range(1,5):
    print("*"*i)
i=1
j=5

*
**
***
****

In [5]:
while i<j:
    print("*"*i)
    i+=1

*
**
***
****

In [6]:
#17. Print multiplication tables from 1 to 5 using nested loops.
for i in range(1,6):
    print(f"\n~~~~~~~~~~~~Table of {i}~~~~~~~~~~~~~~~~~")
    for j in range(1,11):
        print('{}X{}={}'.format(i,j,i*j))

~~~~~~~~~~~~Table of 1~~~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

~~~~~~~~~~~~Table of 2~~~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

~~~~~~~~~~~~Table of 3~~~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

~~~~~~~~~~~~Table of 4~~~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

~~~~~~~~~~~~Table of 5~~~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [7]:
i=1
j=6

while i<j:
    print(f"~~~~~~~~~~~~~~~~Table of {i}~~~~~~~~~~~~~~~")
    k=1
    l=11
    while k<l:
        print('{}X{}={}'.format(i,k,i*k))
        k+=1
    i+=1

~~~~~~~~~~~~~~~~Table of 1~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10
~~~~~~~~~~~~~~~~Table of 2~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20
~~~~~~~~~~~~~~~~Table of 3~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30
~~~~~~~~~~~~~~~~Table of 4~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40
~~~~~~~~~~~~~~~~Table of 5~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [8]:
for i in range(1, 6):      
    print("\nMultiplication Table of", i)
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    
    for j in range(1, 11):   
        print("%dX%d=%d"%(i,j,i*j))

Multiplication Table of 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Multiplication Table of 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Multiplication Table of 3
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Multiplication Table of 4
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Multiplication Table of 5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [11]:
i = 1  
while i <= 5:
    print("\nMultiplication Table of", i)
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    j = 1
    while j <= 10:
        print("%dX%d=%d"%(i,j,i*j))
        j+=1  
    i+=1

Multiplication Table of 1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Multiplication Table of 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Multiplication Table of 3
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Multiplication Table of 4
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Multiplication Table of 5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [14]:
#18. Print all prime numbers between 1 and 100.
# 1 = 1, 2- 1,2, 3= 1,3, 7- 1,7
for num in range(2,101):  # 2,101
    # print(num)
    for i in range(2,num): # 2,2
        if num%i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
# 2%2

0

In [18]:
num = 2

while num<=100:
    # print(num)
    i = 2
    while i< num:
        if num%i ==0:
            break
        i+=1
    else:
        print(num)
    num+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [25]:
#19. Print number pattern:

#1
#12
#123
#1234


for i in range(1,5):
    for j in range(1,i+1): #1,2
        print(j,end="")
    print()

1
12
123
1234

In [26]:
#20. Print Floyd's Triangle:


#1
#2 3
#4 5 6
#7 8 9 10

In [31]:
num=1 # 2
for i in range(1,5): # 1 , 2
    for j in range(i):  #0,1,2,3
        print(num,end=" ") # 1, 2, 3, 4,5,6, 7,8,9,10
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10