## 8. Loops in Python

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as condition is True.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__


### range() function 
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop throught a set of code a specified number of times, we can use the range() function.__ 
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [4]:
# 1-10

# Take a range() function 

print(range(10))
print(range(50))

range(0, 10)
range(0, 50)

In [5]:
range(10,30)

range(10, 30)

In [11]:
years = [2005,2006,2007,2008,2009,2010]

print(years[0])
print(years[1])
print(years[2])
print(years[3])
print(years[4])
print(years[5])

2005
2006
2007
2008
2009
2010

In [12]:
years = [2005,2006,2007,2008,2009,2010]
for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [13]:
years = [2005,2006,2007,2008,2009,2010] # len(years): 6

for i in range(years):  # we can't be pass any variable directly in the range() function 0
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [15]:
years = [2005,2006,2007,2008,2009,2010] # len(years): 6 : 0-5 = 6

for i in range(len(years)):  # we can't be pass any variable directly in the range() function 0
    print(i, years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [16]:
years[i] # 2005
# years[1] = 2006

2010

In [18]:
languages = ['Java',"Python","C","C++","Kotlin","Android","JavaScript","R","Machine Learning"]

for i in languages:
    print(i)

Java
Python
C
C++
Kotlin
Android
JavaScript
R
Machine Learning

In [20]:
# with range() function

for k in range(len(languages)):
    print(k, languages[k])

0 Java
1 Python
2 C
3 C++
4 Kotlin
5 Android
6 JavaScript
7 R
8 Machine Learning

In [22]:
# Enumaeration of the elements in the list

languages = ['Java',"Python","C","C++","Kotlin","Android","JavaScript","R","Machine Learning"]

for index,values in enumerate(languages):
    print(index,values)

0 Java
1 Python
2 C
3 C++
4 Kotlin
5 Android
6 JavaScript
7 R
8 Machine Learning

In [24]:
# 1-10

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(20,31):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [26]:
for x in range(10,1):  # this code can't execute because logic is not correct.
    print(x)

In [29]:
for i in range(10,-1,-1):  # (starts, ends, negative)
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [32]:
# wap to find the sum of 1 to 10

sum1 = 0  # empty variable  # global variable : 1,3, 6,10, 15,21,28, 36,45  
for i in range(1,11):
    sum1 = sum1 + i  # 0+1, 1+2 = 3, 3+3 = 6, 6+4=10, 10+5=15, 15+6=21, 21+7 = 28, 28+8 = 36, 36+9 = 45, 45+10 = 55
    # print(i)
    print(sum1)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# 10-30

In [35]:
# range()
sum1 = 0
for i in range(10,31):
    sum1 = sum1+i
    # print(i)
print(sum1)

420

In [ ]:
# len(), enumerates()

list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

In [39]:
list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sum1 = 0

for index,values in enumerate(list1):
    sum1 = sum1 + values
print(sum1)

420

In [40]:
list1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sum1 = 0

for i in range(len(list1)):
    sum1 = sum1 + (list1[i])
print(sum1)

420